beautifulsoup4==4.9.3
cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
feedfinder2==0.0.4
feedparser==6.0.2
filelock==3.0.12
geographiclib==1.50
geograpy3==0.1.24
geograpy4==1.0.2
geopy==2.0.0
google-api-core==1.23.0
google-api-python-client==1.12.5
google-auth==1.23.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
isodate==0.6.0
jellyfish==0.8.2
jieba3k==0.35.1
joblib==0.17.0
lxml==4.6.1
newspaper3k==0.2.8
nltk==3.5
numpy==1.19.4
Pillow==8.0.1
praw==7.1.0
prawcore==1.5.0
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==20.7.3
pylodstorage==0.0.18
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
rdflib==5.0.0
regex==2020.10.28
requests==2.24.0
requests-file==1.5.1
rsa==4.6
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.0.1
SPARQLWrapper==1.8.5
tinysegmenter==0.3
tldextract==3.0.2
tqdm==4.51.0
update-checker==0.18.0
uritemplate==3.0.1
urllib3==1.25.11
websocket-client==0.57.0
